.container {
  /* width: 100%; */
  margin: 0 auto;
  background-color: #dff6ff;
  border-radius: 1%;
  max-width: 1024px;
  width: 100%;
}
.header-details {
  display: flex;
  text-transform: capitalize;
  justify-content: center;
  margin-top: 4%;
}

.pokemon-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 4%;

  /* align-items: center; */
}
.image-container {
  height: 400px;
  width: 400px;
  width: 40%;
}
.image {
  background-color: #fff;
  width: 100%;
  padding: 0;
}

.type-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.types {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  text-transform: capitalize;
  font-weight: 400;
  justify-content: center;
}
.types span {
  border: 5px solid grey;
  border-radius: 10px;
  padding: 5%;
  width: 50px;
  text-align: center;
  /* height: 10px;
  width: 50px; */
}

.type-1 {
  color: black;
  margin-right: 10px;
  width: 100%;
}

.type-2 {
  width: 100%;
  color: black;
}

.pokedex-container p {
  width: 100%;
  white-space: wrap;
}

/* .evolution-chain-item img {
  border: 5px solid #fff;
  border-radius: 50%;
  height: 100px;
} */

.pokemon-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  text-transform: capitalize;
  /* margin: 3%; */
}

.header-next {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  max-height: 30px;
  background-color: #2120202a;
  /* border: 3px solid red; */
  width: 20%;
}
.header-next p {
  margin-right: 3%;
}
.header-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #2120202a;
  max-height: 30px;
  /* border: 3px solid red; */
  width: 20%;
}
.header-prev:hover {
  cursor: pointer;
}

.header-next:hover {
  cursor: pointer;
}
.header-prev p {
  margin-right: 3%;
}

.center {
  margin: 0 auto;
}

@media (max-width: 500px) {
  .header-prev {
    width: 30%;
    padding: 1%;
  }
  .header-next {
    width: 30%;
    padding: 1%;
  }
}
