.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 20px;
  border: 2px solid #47b5ff;
  padding: 3%;
  margin-top: 3%;
}
.container .clear-button {
  background-color: rgb(250, 35, 35);
  border: none;
  border-radius: 3px;
  box-sizing: 1px 5px black;
  width: 30px;
  height: 20px;
}

.pokemon-details {
  display: flex;
  align-items: center;
  padding: 3%;
}
.img-container {
  width: 100px;
  height: 100px;
  padding: 20px;
}
.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}
/* .header {
  max-height: 500px;
  overflow: scroll;
} */
