.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #06283d;

  padding: 0 5%;
  border-bottom: 5px solid #47b5ff;
}
.Header h3 {
  color: #ccc;
}

.Header h3:hover {
  cursor: pointer;
}
.Header button {
  /* color: white; */

  background-color: #47b5ff;
  border-radius: 3px;
  border: none;
  width: 15%;
  padding: 1%;
  text-align: center;
  box-shadow: 1px 2px black;
}
.search {
  background-color: #47b5ff;
}
.search:disabled {
  background-color: grey;
  color: red;
}

.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  min-width: 70%;
  margin-right: 2%;
}
.header-name {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .Header {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .Header h3 {
    text-align: left;
  }
  .header-name {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }
  .header-name button {
    width: auto;
    height: 30px;
  }
}

/*
/* 
.searchContainer {
  /* display: flex;
  justify-content: center;
  align-items: baseline; */
/* margin: 20px; */
/* padding: 5%;
}
.searchContainer form {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.searchContainer search {
  padding: 5%;
  border-radius: 20px;
  border: none;
}
.searchContainer button {
  width: 100%;
  margin-left: 4%;
  border-radius: 4px;
  padding: 2%;
} */
